+b.SECTION.contacts
	+b.H2.text._h2-mb.__title-section Наша команда

	// One slide with one of team member
	+e.top._mb
		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/artem.jpg', alt='Artem')
				+e.FIGCAPRON.caption._big
					+e.H3.slide-title._m Артем Культенко
					+e.P.slide-subtitle._m Designer
					+e.P.slide-descritpion._grey-i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/gregory.jpg', alt='Gregory')
				+e.FIGCAPRON.caption._big
					+e.H3.slide-title._m Григорй Мочалин
					+e.P.slide-subtitle._m Front-End Developer
					+e.P.slide-descritpion._grey-i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/ilya.jpg', alt='Ilya')
				+e.FIGCAPRON.caption._big
					+e.H3.slide-title._m Илья Дзенски
					+e.P.slide-subtitle._m Front-End Developer
					+e.P.slide-descritpion._grey-i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/pavel.jpg', alt='Pavel')
				+e.FIGCAPRON.caption._big
					+e.H3.slide-title._m Павел Юстюгов
					+e.P.slide-subtitle._m Back-End Developer
					+e.P.slide-descritpion._grey-i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

	// Sliders with team members
	+e.sliders
		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/artem.jpg', alt='Artem')
				+e.FIGCAPRON.caption
					+e.H3.slide-title._m Артем Культенко
					+e.P.slide-subtitle._m Designer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/gregory.jpg', alt='Gregory')
				+e.FIGCAPRON.caption
					+e.H3.slide-title._m Григорй Мочалин
					+e.P.slide-subtitle._m Front-End Developer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/ilya.jpg', alt='Ilya')
				+e.FIGCAPRON.caption
					+e.H3.slide-title._m Илья Дзенски
					+e.P.slide-subtitle._m Front-End Developer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/pavel.jpg', alt='Pavel')
				+e.FIGCAPRON.caption
					+e.H3.slide-title._m Павел Юстюгов
					+e.P.slide-subtitle._m Back-End Developer

.section-line