+b.contacts
    H1.text_h1.text_h1-mb Связаться с нами
    +e.grid
        INPUT(placeholder='Имя', id="name").input-6
        INPUT(placeholder='Электронная почта', id="mail").input-6
        INPUT(placeholder="Тема сообщения", id="subject").input-12
        +e.TEXTAREA(id="message", placeholder="Ваше сообщение", rows="5").messagearea.input-12
        a(href='#').pill.pill_big.pill_accent.pill_center Отправить