+b.SECTION.contacts
	+b.H2.text._h2-mb.__title Наша команда

	// One slide with one of team member
	+e.top._mb
		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/artem.jpg', alt='Artem')
				+e.FIGCAPRON.caption._big
					+b.H3.text._h3-m.__name Артем Культенко
					+e.P.post Designer
					+e.P.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/gregory.jpg', alt='Gregory')
				+e.FIGCAPRON.caption._big
					+b.H3.text.h3.__name Григорй Мочалин
					+e.P.post Front-End Developer
					+e.P.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/ilya.jpg', alt='Ilya')
				+e.FIGCAPRON.caption._big
					+b.H3.text.h3.__name Илья Дзенски
					+e.P.post Front-End Developer
					+e.P.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._big._circle(src='img/contacts/pavel.jpg', alt='Pavel')
				+e.FIGCAPRON.caption._big
					+b.H3.text.h3.__name Павел Юстюгов
					+e.P.post Back-End Developer
					+e.P.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor dolorum, exercitationem ipsa iste iusto, minima necessitatibus nobis numquam placeat porro quae qui quibusdam repellat rerum, sequi sint suscipit voluptatibus.

	// Sliders with team members
	+e.sliders
		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/artem.jpg', alt='Artem')
				+e.FIGCAPRON.caption
					+b.H3.text.h3.__name Артем Культенко
					+e.P.post Designer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/gregory.jpg', alt='Gregory')
				+e.FIGCAPRON.caption
					+b.H3.text.h3.__name Григорй Мочалин
					+e.P.post Front-End Developer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/ilya.jpg', alt='Ilya')
				+e.FIGCAPRON.caption
					+b.H3.text.h3.__name Илья Дзенски
					+e.P.post Front-End Developer

		+e.slide
			+e.FIGURE.member-block
				+e.IMG.img._small._circle(src='img/contacts/pavel.jpg', alt='Pavel')
				+e.FIGCAPRON.caption
					+b.H3.text.h3.__name Павел Юстюгов
					+e.P.post Back-End Developer
