+b.footer
    +e.grid
        +e.column-wide
            +e.logotext Technobyte
            +e.description Серые шакалы живут на предвзгорьях южной Америки. Они питаются падалью, картошкой, макаронами. Когда они обретают просветление - они улетают в дальние края, где добывают золото в рудниках.
        +e.column
            +e.columntitle Ссылки
            +e.UL.list
                +e.A(href='#').link
                    +e.LI.listitem Дом
                +e.A(href='#').link
                    +e.LI.listitem Работа
                +e.A(href='#').link
                    +e.LI.listitem Семья
                +e.A(href='#').link
                    +e.LI.listitem И обратно
        +e.DIV.column
            +e.columntitle О нас
            +e.UL.list
                +e.A(href='#').link
                    +e.LI.listitem О нас
                +e.A(href='#').link
                    +e.LI.listitem Вакансии
                +e.A(href='#').link
                    +e.LI.listitem Контакты
                +e.A(href='#').link
                    +e.LI.listitem Блог
        +e.DIV.column
            +e.columntitle О нас
            +e.UL.list
                +e.A(href='#').link.footer__link-accent
                    +e.LI.listitem 7-918-331-40-26
                +e.A(href='#').link
                    +e.LI.listitem info@technobyte.ru