+b.HEADER.header
	// Top-line
	+e.top-line
		+e.logo
			+b.H2.text._h3 Tehnobyte

		// Menu
		+b.NAV.menu._upcs.__menu
			+e.A.link._active(href='#') О нас
			+e.A.link(href='#') Портфолио
			+e.A.link(href='#') Услуги
			+e.A.link(href='#') Команда
			+e.A.link(href='#') Контакты

	+b.slider.__slider
		+e.slide
			+b.H2.text._h1-mb.__title Мы делаем:
			+b.P.text._p.__text - Лендинги (посадочные, подписные и продающие страницы)
			+b.P.text._p.__text - Сайты визитки и имиджевые сайты  (самая важная информация о вас и вашей деятельности)
			+b.P.text._p.__text - Интернет магазины и каталоги (Оптимальный инструмент для продажи товаров и услуг)
			+b.P.text._p.__text - Корпоративные и информационные порталы (максимальное описание вашей деятельности и взаимодействие с клиентом)
