+b.portfolio
    H1.text_h1.text_h1-mb Портфолио
    P.text_subtitle Наши последние проекты
    +e.grid
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы
        .card.portfolio__cards.card_hoverable.card_hovertitle
            a(href='#')
                img(src="http://materializecss.com/images/sample-1.jpg").card_image
            .card_content
                a(href='#').card_title Number 1
                .card_subtitle Описание работы