+b.services
    H1.text_h1.text_h1-mb Наши услуги
    +e.P.undertitle Много вариаций наших работ
    +e.grid
        +e.card
            +e.icon.i.fa.fa-4x.fa-flash
            H3.text_h3-mb Скорость
            +e.P.cardtext Всякие слова произнесенные нами забудутся как прах мартышки в позднюю ночь
            a(href='#').pill.pill_dark.pill_small узнать
        +e.card
            +e.icon.i.fa.fa-4x.fa-flash
            H3.text_h3-mb Скорость
            +e.P.cardtext Всякие слова произнесенные нами забудутся как прах мартышки в позднюю ночь
            a(href='#').pill.pill_dark.pill_small узнать
        +e.card
            +e.icon.i.fa.fa-4x.fa-flash
            H3.text_h3-mb Скорость
            +e.P.cardtext Всякие слова произнесенные нами забудутся как прах мартышки в позднюю ночь
            a(href='#').pill.pill_dark.pill_small узнать